body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.parent {
    width: 96%;
    min-height: 96%;
    height: auto;
    padding: 2%;
}

.child {
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
}
